## **Milestone Challenge on Used Bikes Data Set**
Welecome to the Milestione Challenge, in this scenario, you will be exploring descriptive statistics on used bikes dataset .


**Note** -
- Add extra cells for coding if neccessary.

- Finally restart and run all the cells after the completion of the challenge.

### Run the below cell to import the basic neccessary packages


**Note**-
These are basic packages which is needed to solve this challenge,kindly include appropriate modules from the below given packages to solve this challenge based on the given scenarios.

In [164]:
import numpy as np
import pandas as pd
import statistics
import scipy

## Run the below cell to download the dataset

In [165]:
!wget hrcdn.net/s3_pub/istreet-assets/-ccjO7ToeMlvfSIOr-Wxfg/Used_Bikes.csv

URL transformed to HTTPS due to an HSTS policy
--2022-09-28 13:59:14--  https://hrcdn.net/s3_pub/istreet-assets/-ccjO7ToeMlvfSIOr-Wxfg/Used_Bikes.csv
Resolving hrcdn.net (hrcdn.net)... 23.212.254.99, 23.212.254.56, 2600:140f:1e00::1737:f64a, ...
Connecting to hrcdn.net (hrcdn.net)|23.212.254.99|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2493547 (2.4M) [application/octet-stream]
Saving to: ‘Used_Bikes.csv.1’

Used_Bikes.csv.1    100%[===================>]   2.38M  2.09MB/s    in 1.1s

2022-09-28 13:59:16 (2.09 MB/s) - ‘Used_Bikes.csv.1’ saved [2493547/2493547]

### Load the dataset 
 - Load the Bank Marketing dataset from the file **Used_Bikes.csv** and save it in the variable df.

In [166]:
df = pd.read_csv("Used_Bikes.csv")
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
32643,Hero Passion Pro 100cc,39000.0,Delhi,22000.0,First Owner,4.0,100.0,Hero
32644,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32645,Bajaj Avenger Street 220,60000.0,Delhi,20373.0,First Owner,6.0,220.0,Bajaj
32646,Hero Super Splendor 125cc,15600.0,Jaipur,84186.0,First Owner,16.0,125.0,Hero
32647,Bajaj Pulsar 150cc,22000.0,Pune,60857.0,First Owner,13.0,150.0,Bajaj

### Question 1

- (a) From the given above dataset calculate the mean for all numerical columns and convert it into dictionary and save it in the variable  **mean**.


- (b) From the given above dataset calculate the median for all numerical columns and convert it into dictionary and save it in the variable  **median**.


- (c) From the given above dataset calculate the mode for all numerical columns and convert it into dictionary and save it in the variable  **mode**.


- (d) From the mean , median and mode values of the column **kms_driven** ,it is positively skewed distribution.

        - If the answer for the above statement is yes assign the value yes as string otherwise value no as string in the variable kms_driven.

Save the outputs for (a), (b) and (c) in the following format -

         {Column Name : Value}

**Example**-
        
         {'age': 85.85,
         'kms_driven': 1500.01,
         'power': 200.01}
        

**Note-**  Here round off the mean and median values to two decimal points and mode to the integer.

In [167]:

df_mean=round(df.mean(),2)
mean=df_mean.to_dict()
df_median=round(df.median(),2)
median=df_median.to_dict()
# median
df_mode=df.mode(numeric_only=True)
df_mode=df_mode.astype('int')
mode=df_mode.to_dict()
# mode
if mean['kms_driven']>=0 and median['kms_driven']>=0 and mode['kms_driven'][0]:
    kms_driven="yes"

In [168]:
mean

{'price': 68295.42, 'kms_driven': 26344.63, 'age': 8.05, 'power': 213.51}

In [169]:
median

{'price': 43000.0, 'kms_driven': 20373.0, 'age': 7.0, 'power': 150.0}

In [170]:
mode

{'price': {0: 25000},
 'kms_driven': {0: 20000},
 'age': {0: 4},
 'power': {0: 150}}

### Question 2

- (a) From the column **owner** get the count of all categories and convert it into dictionary and save it in the variable **owner**.  



- (b) The column **owner** looks to have a high class imbalance problem.

         - If the answer for the above statement is yes assign the value yes as string otherwise value no as string in the variable class_imb. 
         
  
For the question (a) save the output in the following format -

         {Category Name : Count}

**Example**-
        
         {'First Owner': 500,
         'Fourth Owner Or More': 300,
         'Second Owner': 200}

In [171]:
df_cal=df.select_dtypes('object_')

In [172]:
owner = df['owner'].value_counts()
owner=owner.to_dict()
owner
class_imb = "yes"

### Question 3

- For the given dataset find the following -

              - (a) Population Variance of dataset of all numerical columns and save it in variable p_var.
         
              - (b) Population Standard Deviation of dataset of all numerical columns and save it in variable p_sd.
                                
For the questions (a) and (b) save the output in the following format -

         {Column Name : Value}

**Example**-
        
         {'age': 85.85,
         'kms_driven': 1500.01,
         'power': 200.01}
         
        
**Note-**  Here round it off the values to two decimal points and convert all variables it into dictionary.

In [173]:
import statistics as st
p_var =np.var(df) 
p_var=dict(round(p_var,2))
p_var

{'price': 8229611437.37,
 'kms_driven': 493203595.21,
 'age': 16.25,
 'power': 18070.57}

In [174]:


p_sd=np.std(df)
p_sd=dict(round(p_sd,2))
p_sd

{'price': 90717.21, 'kms_driven': 22208.19, 'age': 4.03, 'power': 134.43}

### Question 4

- For the given dataset find the following -

              - (a) Interquartile Range of the column price and save it in variable iqr_price .
         
              - (b) Interquartile Range of the column kms_driven and save it in variable iqr_kms_driven.
                                
         

**Note-**  Here round it off the values to two decimal points.

In [175]:
from scipy.stats import iqr
q3, q1 = np.percentile(df['price'], [75,25])


iqr_price       = round(q3-q1,2)
print(iqr_price)
q7, q5 = np.percentile(df['kms_driven'], [75,25])
iqr_kms_driven  =round(q7-q5,2) 
print(iqr_kms_driven)

55000.0
23000.0

### Question 5

- (a) From the given dataset find the correlation matrix for all the numerical columns and save it in varibale **df_corr**.Here round it off the values to two decimal points.



- (b) From **df_corr** Age is negatively correlated with Price.

         - If the answer for the above statement is yes assign the value yes as string otherwise value no as string in the variable Age_Price. 


- (c) From **df_corr** Power is negatively correlated with Price.

         - If the answer for the above statement is yes assign the value yes as string otherwise value no as string in the variable Power_Price. 


For the questions (a) save the output in the following format -

         {Column Name : {Column Name : Value}}

**Example**-
        
         {'age': {'age': 0.2, 'kms_driven': 0.08, 'power': -0.25, 'price': 0.08},
         'kms_driven': {'age': -0.15,
         'kms_driven': 0.3,
         'power': 0.18,
         'price': 0.58}}

In [176]:
df_num=df[['price','kms_driven','age','power']]
df_corr     =round(df_num.corr(),2)
# print(df_corr)
df_corr=df_corr.to_dict()
correlation = df['age'].corr(df['price'])
if(correlation<0):
    Age_Price="yes"
else:
    Age_Price="no"

correl = df['power'].corr(df['price'])
if(correl<0):
    Power_Price="yes"
else:
    Power_Price="no"

print(df_corr)
# print(Power_Price)
# print(Age_Price)

{'price': {'price': 1.0, 'kms_driven': -0.31, 'age': -0.4, 'power': 0.86}, 'kms_driven': {'price': -0.31, 'kms_driven': 1.0, 'age': 0.48, 'power': -0.26}, 'age': {'price': -0.4, 'kms_driven': 0.48, 'age': 1.0, 'power': -0.34}, 'power': {'price': 0.86, 'kms_driven': -0.26, 'age': -0.34, 'power': 1.0}}

### Question 6

- (a) From the given dataset find the skewness for all the numerical columns and save it in varibale **df_skew**.Here round it off the values to two decimal points.



- (b) From **df_skew** age is fairly symmetrical.

         - If the answer for the above statement is yes assign the value yes as string otherwise value no as string in the variable Age_Skew. 


- (c) From **df_skew** power is highly skewed.

         - If the answer for the above statement is yes assign the value yes as string otherwise value no as string in the variable Power_Skew. 


For the question (a) save the output in the following format -

         {Column Name : Value}

**Example**-
        
         {'age': 55.85,
         'kms_driven': 76.01,
         'power': 61.01}

In [177]:
df_skew    =round(df.skew(axis = 0, skipna = True),2)
df_skew=df_skew.to_dict()
df_skew
#If the skewness is between -0.5 and 0.5, the data are fairly symmetrical
if df_skew['age']>-0.5 and df_skew['age']<0.5:
    Age_Skew   = "Yes"
else:
    Age_Skew="No" 
# If the skewness is less than -1 or greater than 1, the data are highly skewed
if df_skew['power']<1 or df_skew['power']>1:
    Power_Skew = "Yes"
else:
    Power_Skew="No"

## Run the below cell to save the results

In [ ]:
with open('question1.txt', 'a') as f:
    
    print(mean , file=f)
    print(median , file=f)
    print(mode , file=f)
    print(kms_driven , file=f)

with open('question2.txt', 'a') as f:
    print(owner, file=f)
    print(class_imb, file=f)
    
with open('question3.txt', 'a') as f:
    print(p_var , file=f)
    print(p_sd , file=f)

with open('question4.txt', 'a') as f:
    print(iqr_price , file=f)
    print(iqr_kms_driven , file=f)

with open('question5.txt', 'a') as f:
    
    print(df_corr , file=f)
    print(Age_Price , file=f)
    print(Power_Price , file=f)
    
    
with open('question6.txt', 'a') as f:
    print(df_skew , file=f)
    print(Age_Skew , file=f)
    print(Power_Skew , file=f)